<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
    <f:if condition="{element.rootForm.identifier} == 'form-45' ">
        <f:then>
            
                <f:form.textfield
                type="email"
                property="{element.identifier}"
                id="{element.uniqueIdentifier}"
                class="form-control dharmik border-white p-3"
                errorClass="{element.properties.elementErrorClassAttribute}"
                additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
                style="height: 58px;" />
        </f:then>
        <f:else>
                <div class="col-sm-6">
                <f:form.textfield
                    type="email"
                    property="{element.identifier}"
                    id="{element.uniqueIdentifier}"
                    class="form-control bg-light border-0 px-4"
                    errorClass="{element.properties.elementErrorClassAttribute}"
                    additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}" 
                    style="height: 55px;"
                    />
                </div>

        </f:else>
    </f:if>
</formvh:renderRenderable>
</html>
