
<f:variable name="marginTop">
    <f:if condition="{data.pid} == 0 || {data.uid} == 1 || {data.uid} == 6 || {data.uid} == 11">
        <f:then>90px</f:then>
        <f:else>
            <f:if condition="{data.uid} == 8 || {data.uid} == 10">
                <f:then>235px</f:then>
                <f:else>135px</f:else>
            </f:if>
        </f:else>
    </f:if>
</f:variable>

<div class="container-fluid bg-img text-secondary"
     style="margin-top: {marginTop};">
    <div class="container">
        <div class="row gx-5">
			<f:if condition="{data.pid} == 0"><f:then><div class="col-lg-4 col-md-6 mb-lg-n5"></f:then><f:else><div class="col-lg-4 col-md-6 mt-lg-n5"></f:else></f:if>
				<f:cObject typoscriptObjectPath="lib.FooterPart1" />
			</div>
			<div class="col-lg-8 col-md-6">
                <div class="row gx-5">
                	<div class="col-lg-4 col-md-12 pt-5 mb-5">
						<f:cObject typoscriptObjectPath="lib.FooterPart2" />
					</div>
					<div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
						<f:cObject typoscriptObjectPath="lib.FooterPart3" />
					</div>
					<div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
						<f:cObject typoscriptObjectPath="lib.FooterPart4" />
					</div>
				</div>
			</div>
        </div>
    </div>
</div>
<f:cObject typoscriptObjectPath="lib.footerCopyright" />

<a href="#" class="btn btn-primary border-inner py-3 fs-4 back-to-top" style="display: none;"><i class="bi bi-arrow-up"></i></a>