<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers"
      data-namespace-typo3-fluid="true">
      
<f:asset.css identifier="identifier3">
    .element-preview-content a{
        pointer-events: none;
    }
</f:asset.css>

    <f:if condition="{data.title}">
        <h4 class="text-primary text-uppercase mb-4">
            {data.title}
        </h4>
    </f:if>

    <div class="d-flex flex-column justify-content-start gap-2">

        <f:if condition="{data.quick_details}">
            <f:for each="{data.quick_details}" as="data_item">

                <f:if condition="{data_item.link} && {data_item.menus}">

                    <f:link.typolink parameter="{data_item.link}" class="text-secondary">
                        <i class="bi bi-arrow-right text-primary me-2"></i>
                        {data_item.menus}
                    </f:link.typolink>

                </f:if>

            </f:for>
        </f:if>

    </div>

</html>